<div class="col-md-6 grid-margin stretch-card" style="margin-left: 10cm; margin-top: 1%; ;">
    <div class="card" style="width: 50cm;">
      <div class="card-body">
          <h4 class="card-title">Ajouter une voiture</h4>
          <p class="card-description">
          </p>
          <form class="forms-sample" #f=ngForm (submit)="AddCar(f)">
              <div class="form-group">
                  <label for="exampleInputUsername1">Photo</label>
                  <input type="file" id="imageInput" (change)="onFileSelected($event)" accept="image/*" class="form-control" ngModel #t="ngModel" required>
                </div>
                <section  *ngIf="t.invalid && t.touched">
                  <small  style="color: danger;" class="form-text text-muted">Photo is required File </small>
              </section>
              <div class="form-group">
                <label for="exampleInputUsername1">Matricule</label>
                <input type="text" name="matricule" class="form-control"  placeholder="" ngModel #w="ngModel" required>
              </div>
              <section  *ngIf="w.invalid && w.touched">
                <small  style="color: danger;" class="form-text text-muted">Matricule is required File </small>
            </section>
            <div class="form-group">
              <label for="exampleInputUsername1">Marque</label>
                <input type="text"  name="marque" class="form-control"  placeholder="Venza" ngModel #l="ngModel" required pattern="[A-Za-z]+" minlength="4" >
            </div>
            <section  *ngIf="l.invalid && l.touched"> 
              <small  style="color: danger;" class="form-text text-muted" *ngIf="l.errors?.['required']">The Marque is required File.<br/></small>
              <small  style="color: danger;" class="form-text text-muted" *ngIf="l.errors?.['minlength']">The Marque minlength is equal to 4.<br/></small>
              <small  style="color: danger;"class="form-text text-muted" *ngIf="l.errors?.['pattern']">The Marque is composed  only of charachter.<br/></small>
          </section>
            <div class="form-group">
              <label for="exampleInputEmail1">Modèles</label>
              <input type="text"  name="modele" class="form-control" id="exampleInputConfirmPassword1" placeholder="Elantra" ngModel #p="ngModel" required pattern="[A-Za-z]+" minlength="4">
            </div>
            <section  *ngIf="p.invalid && p.touched">
              <small  style="color: danger;" class="form-text text-muted" *ngIf="p.errors?.['required']">The Modéles is required File.<br/></small>
              <small  style="color: danger;" class="form-text text-muted" *ngIf="p.errors?.['minlength']">The Modéles minlength is equal to 4.<br/></small>
              <small  style="color: danger;"class="form-text text-muted" *ngIf="p.errors?.['pattern']">The Modélesis composed  only of charachter.<br/></small>
          </section>
            <div class="form-group">
              <label for="exampleInputPassword1">Kilométarge</label>
              <input type="number"  name="kilometrage" class="form-control" id="exampleInputPassword1" placeholder="km" ngModel #h="ngModel" required minlength="1" >
            </div>
            <section  *ngIf="h.invalid && h.touched">
              <small  style="color: danger;" class="form-text text-muted" *ngIf="h.errors?.['required']">The Kilométarge is required File.<br/></small>
              <small  style="color: danger;" class="form-text text-muted" *ngIf="h.errors?.['minlength']">The Kilométarge minlength is equal to 1.<br/></small>
          </section>
            <div class="form-group">
              <label for="exampleInputConfirmPassword1">Année</label>
              <input type="number"  name="annee" class="form-control" id="exampleInputConfirmPassword1" placeholder="2010" ngModel #a="ngModel" required length="4">
            </div>
            <section  *ngIf="a.invalid && a.touched">
              <small  style="color: danger;" class="form-text text-muted" *ngIf="a.errors?.['required']">Année is required File.<br/></small>
              <small  style="color: danger;" class="form-text text-muted" *ngIf="a.errors?.['length']">The length of Année is equal to 4.<br/></small>
          </section>
            <div class="form-group">
              <label for="exampleInputConfirmPassword1">Prix</label>
              <input type="number" name="prix"  class="form-control" id="exampleInputConfirmPassword1" placeholder="220" ngModel #x="ngModel" required minlength="1">
            </div>
            <section  *ngIf="x.invalid && x.touched">
              <small  style="color: danger;" class="form-text text-muted" *ngIf="x.errors?.['required']">Prix is required File.<br/></small>
              <small  style="color: danger;" class="form-text text-muted" *ngIf="x.errors?.['length']">The Minlength of Prix is equal to 1.<br/></small>
          </section>
          <div class="form-group">
            <label for="exampleInputConfirmPassword1">Couleur</label>
            <input type="text"  name="couleur" class="form-control" id="exampleInputConfirmPassword1" placeholder="Blanc" ngModel #n="ngModel" required >
          </div>
          <section  *ngIf="n.invalid && n.touched">
            <small  style="color: danger;" class="form-text text-muted" *ngIf="n.errors?.['required']">Prix is required File.<br/></small>
        </section>
            <button type="submit" class="btn btn-primary me-2" [disabled]="f.invalid">Ajouter</button>
            <button class="btn btn-light" routerLink="/voitures/">Cancel</button>
          </form>
        </div>
      </div>
    </div>